.divImg{
    background-image: url('../../../assets/images/home-img.png');
   // background-position: center; 
    background-repeat: no-repeat;
    background-size:contain;
    height: 715px;
    width: 100%;
}